@import './colors.scss';
@import './base.scss';

.flex{display: flex;}
.flex-col{display:flex;flex-flow:column;}

@media screen and (min-width: 992px) {
/*large screens*/
  
  h1,h2,h3,h4,h5,h6,span,button,select,input,p,label,li,ul{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: initial;
  }

  button{
    background-color: darken($info,10);
    color:white;
    border:none;
    padding:5px;

    &:hover{
      background-color: $info;
      cursor:pointer;
    }
  }

  .form-input{
    input.button-input{
      background-color: darken($info,10);
      color:white;
      border:none;
      padding:5px;
      &:hover{
        background-color: $info;
        cursor:pointer;
      }
    }
  }

  textarea{
    resize:none;
  }

  label{
    color:$primary;
    font-size:0.95em;
    margin-bottom:5px;
  }

  label~.custom-select{
    //margin-bottom:20px;
    color:$primary;
  }

  .custom-select{
    width:100%;
    position: relative;
    &.open{
      ul{display: block;} 
    }

    &.valid{
      
      .selected{
        border-bottom:2px solid $confirm;
        span{
          color:$confirm;
        }
        
      }
    }
    
    .selected{
      margin-top:5px;
      width:100%;
      border-bottom:2px solid $primary;
      span{
        color:$primary;
      }

      &:hover{
        cursor: pointer !important;
      }  


    }
    ul{
      //display:none;
      position: absolute;
      top: 17px;
      left: 0px;
      width: calc(100% - 2px);
      max-height: 98px;
      border:1px solid $light-gray;
      padding: 0px;
      -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.18);
      -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.18);
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.18);
      overflow-y: auto;
      z-index:10;
      display:none;
      &::-webkit-scrollbar{width:5px;}
      &::-webkit-scrollbar-track{background-color: $light-gray;}
      &::-webkit-scrollbar-thumb{background-color: $primary;}
      scrollbar-width : thin;
      scrollbar-color : $primary $light-gray ;

      li{
        background-color: white;
        color:$primary;
        text-decoration: none;
        list-style: none;
        width:calc(100% - 10px);
        padding: 5px;
        border-bottom:1px solid $light-gray;
        

        &:hover{
          background-color: $info;
          color:white;
          cursor:pointer;
        }

        &:active{
          background-color: darken($info,10);
        }
      }

      
      
    }

   
  }

  .carousel{
    display: flex;
    width:100% !important;
    .details{
      .name{
          .text{

          }
      }
      .code{
          .text{

          }
      }
      .price{
          .price-text{}
          .unit-text{}
      }
      .category{
          .text{}
      }
  }
    height: 100% !important;
    flex-flow: column;
    .main-container{
       height:80% !important;
       
       position: relative;
        .arrow-right{
          width:15% !important;
          position: absolute;
          right:0;
          background: linear-gradient(to left,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
          &:hover{
            background: linear-gradient(to left,rgba(0,0,0,.3) 0,rgba(0,0,0,.0001) 100%);
            cursor: pointer !important;
            svg{
              color:darken($info,10);
            }
            
          }
          svg{
            font-size:2em;
            margin:auto;
            color:$info;
          }
        }

        .current-slide{
          display: flex;
            width:100% !important;
            height: 100% !important;
          .slide-container{
            display: flex;
            width:100% !important;
            height: 100% !important;


            img{
              display: block;
              max-width: calc(100%);
              max-height: calc(100%);
              margin: auto;
              -webkit-user-select: none; /* Safari */        
              -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* IE10+/Edge */
              user-select: none; /* Standard */
            }
          }
          
         
        }

        .arrow-left{
          width:15% !important;
          position: absolute;
          left:0;
                  
          background: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
          
          &:hover{
            background: linear-gradient(to right,rgba(0,0,0,.3) 0,rgba(0,0,0,.0001) 100%);
            cursor: pointer !important;
            
            svg{
              color:darken($info,10);
            }
          }
          svg{
            font-size:2em;
            margin:auto;
            color:$info;
          }
        }
    }
    .preview-section{
        height:calc(20% - 4px) !important;
        width:100%;
        padding-top:2px;
        padding-bottom:2px;
        flex-flow:row wrap;

        .preview-box{
          height: calc(100% - 8px) !important;
          width:calc(20% - 8px) !important;
          border:2px solid $light-gray;
          display: flex;
          transition: 0.5s;
          margin-right:2px;
          margin-left:2px;
          &:hover{
            border:2px solid $info;
            cursor: pointer !important;
            transition: 0.5s;
          }

          &.active{
            border:2px solid $info;
            transition: 0.5s;
          }

          img{
            max-width: 100%;
            max-height: 100%;
            margin:auto;

            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
          }
        }
    }
  }
  
  

  @keyframes closeBar1{
    0%{width:0%;}
    25% {width:100%;}
    to{width:100%;}
  }

  @keyframes closeBar2{
    25%{width:0%;}
    50% {width:100%;}
    to{width:100%;}
  }

  @keyframes closeBar3{
    50%{width:0%;}
    75% {width:100%;}
    to{width:100%;}
  }

  @keyframes closeBar4{
    75%{width:0%;}
    100% {width:100%;}
    to{width:100%;}
  }

  @keyframes openBar1{
    from{width: 100%;}
    75%{width:100%;}
    100% {width:0%;}
    to{width:0%;}
  }

  @keyframes openBar2{
    from{width:100%;}
    50%{width:100%;}
    75% {width:0%;}
    to{width:0%;}
  }

  @keyframes openBar3{
    from{width:100%}
    25% {width:100%;}
    50% {width:0%;}
    to{width:0%;}
  }

  @keyframes openBar4{
    0%{width:100%;}
    100% {width:0%;}
    to{width:0%;}
  }

  .transition{
    width: 100%;
    height:100%;
    position: absolute;
    z-index:10;
    top:0;

    &.close{
      .bar-1{animation: closeBar1 1s forwards;}
      .bar-2{animation: closeBar2 1s forwards;}
      .bar-3{animation: closeBar3 1s forwards;}
      .bar-4{animation: closeBar4 1s forwards;}
    }

    &.open{
      .bar-1{animation: openBar1 1s forwards;}
      .bar-2{animation: openBar2 1s forwards;}
      .bar-3{animation: openBar3 1s forwards;}
      .bar-4{animation: openBar4 1s forwards;}
    }

    .bar-1{
      height:25%;
      width:0%;
      background-color: $primary;  
    }
    .bar-2{
      height:25%;
      width:0%;
      background-color: $primary;
    }
    .bar-3{
      height:25%;
      width:0%;
      background-color: $primary;
    }
    .bar-4{
      height:25%;
      width:0%;
      background-color: $primary;
    }
  }

  .footer{
    width: 100%;
    height:200px;
    background-color: $primary;
  }

  .breadcrumb{
    display: flex;
    font-size:1em;
    color:$primary;
    padding-top:6px;
    padding-bottom:1px;
    margin-left:10px;
    margin-bottom:25px;
    
    svg{
      color:darken($info,0);
      
    }

   

    .crumb-text{
      position: relative;
      display: flex;
      flex-flow: column;
      margin-bottom: 0px;
      padding-bottom: 5px;
      height: max-content;
      transition: 0.5s;
      hr{
        border:none;
        position: absolute;
        margin-block-start: 0px;
        margin-block-end: 0px;
        text-align: center;
        padding: 0px;
        width: 100%;
        bottom: 0px;
        width: 0px;
        left:50%;
        transition: 0.5s;
      }
    }

    
    .crumb{
      display: flex;
    
      &:hover{
        cursor:pointer;
        .crumb-text{
          color:$info;
          transition: 0.5s;
          hr{
            width: 100%;
            transition: 0.5s;
            border-top:1px solid $info;
            left:0;
          }
        }
       
        
      }

      .arrow{
        display: flex;
        margin-left: 10px;
        margin-right:10px;
        svg{
          
          margin: auto;
          margin-top:1px;
        }
      }

      &:last-child{
        .crumb-text{
          color:darken($info,10);
          hr{
            width: 100%;
            transition: 0.5s;
            border-top:1px solid $info;
            left:0;
          }
          
        }
        .arrow{
          display:none;
        }
      }
    }
    .pause{
      display: flex;  
      margin-right: 5px;
      margin-left: 5px;
      
      svg{
    
        margin: auto;
        color:$primary;
        font-size: 1em;
        margin-top: 1px;
        margin-bottom: 0px;
      }
    }
    .back{
      display: flex;  

      &:hover{
        cursor:pointer;
        hr{
          width: 100%;
          transition: 0.5s;
          border-top:1px solid $info;
          left:0;
        }
        
      }

      .arrow{
        display: flex;
        margin-right:10px;
        svg{
          margin: auto;
          margin-top:1px;
        }
      }
    }
  }

  .empty-slide{
    background-color: $primary;
    display: flex;
    flex-flow: column;
    .logo{
      color:white;  
      height:max-content !important;
      display: flex;
      margin-top: auto;
   //   margin-bottom:auto;
      .logo-content{
        margin:auto;
        width: max-content !important;
        height: max-content !important;
        .capital{
          display: flex;
          margin-top:auto;
          font-size: 2em;
        }
        span{
          font-size: 1.4em;
          display: flex;
          margin-top:auto;
        }
      }
    }
    .indications{
      height:max-content !important;
      display: flex;
      width: 80%;
      margin-left:auto;
      margin-right:auto;
      margin-top: 20px;
      border-top:1px solid white;
      margin-bottom:auto;
      text-align: center;
      color:white;
      font-size:1.3em;
    }
  }

  .header{
    height: $header-height;
    background-color: $primary;
    display: flex;
    .logo{
      color:white;
      width:20%;
      height:100%;
      display: flex;
      .logo-content{
        margin:auto;
        .capital{
          font-size: 2em;
        }
        span{
          font-size: 1.4em;
        }
      }
      
    }

    .search-bar{
      width:calc(40% - 15px);
      height:100%;
      display:flex;
      margin-left:10px;
      input{
        width:90%;
        margin: auto;
        display: block;
        font-size:1em;
        padding:3px;
        font-weight: initial;
        margin-left:0px;
        color:$primary;
        transition: 0.2s;

        &:focus,:active{
          outline:none;
          width:calc(90% - 2px);
          border:2px solid $info;
          transition: 0.2s;
        }
      }

      .search-button{
        content:'';
        width: 10%;
        height: 1em;
        background: $info;
        margin-top: auto;
        margin-bottom: auto;
        display:flex;
        transition: 0.5s;
        padding-top:6px;
        padding-bottom:6px;

        &:hover{
          background: darken($info,10);
          cursor:pointer;
          transition: 0.5s;
        }

        .icon{
          color:$primary;
          margin:auto;
          font-size:1.2em;
          
        }
      }

      ::placeholder{
        color:$light-gray;
        opacity: 1;
        font-weight: initial;
        transition: 0.5s;
      }
    }
  }

  .main-container{
    position: relative;
    width:80%;
    -webkit-box-shadow: inset 0px 0px 34px 0px rgba(208,208,208,1);
    -moz-box-shadow: inset 0px 0px 34px 0px rgba(208,208,208,1);
    box-shadow: inset 0px 0px 34px 0px rgba(208,208,208,1);
  }

  .category-item{
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);

    
    .image{
      width: calc(100%);
      height: calc(80%);
      //display: block;
      border-bottom:1px solid $light-gray;
      
      img{
        display: block;
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        margin: auto;
        padding: 10px;
      }
    }

    .name{
      display: block;
      width: calc(100% - 20px);
      height: calc(20% - 20px);
      padding:10px;
      text-align: center;
      .name-text{
        font-weight: normal;
        margin:0px;
      }
      
    }
  }
  .product-list{
    width:calc(100% - 10px);
    padding:5px;
    display:flex;
    flex-flow: row wrap;
    .product-item{
      //height: calc(66% - 20px);
      //width:calc(50% - 20px);
      width: calc(25% - 10px);
      height: calc(350px - 10px);
      margin:5px;
      display: flex;
      flex-flow:column;
      -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
      position: relative;

      &:hover{
          
        .image{
          cursor:pointer !important;
        }
        .details{
          cursor:pointer !important;
          hr{
            left: 5%;
            right: 5%;
            width:90%;
            transition: 0.5s;
            border-top:2px solid lighten($primary,20);
          }

          .price{
            background-color:lighten($primary, 25);
            padding-left:10px;
            padding-right:10px;
            transition:0.2s;
            cursor:pointer !important;
          }
        }
        
        
      }
      
      .image{
        width: calc(100%);
        height: calc(50%);
        display: flex;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        
        img{
          display: block;
          max-width: calc(100% - 20px);
          max-height: calc(100% - 20px);
          margin: auto;
          padding: 10px;
        }
      }

      

      .details{
        position: relative;
        
        width: calc(100% - 10px);
        height: calc(50%);
        padding:5px;
        text-align: center;
        flex-flow: column;
        display: flex;

        h1,h2,h3,h4,h5,h6{
          padding:0px;
          margin:0px;
        }

        

        hr{
          position: absolute;
          top: 0px;
          left: 25%;
          right: 25%;
          width:50%;
          border-top:2px solid $primary;
          margin: auto;
          transition: 0.5s;
        }
        
        .code-text{
          margin-top:10px;
          color:$primary;
        }
        .name-text{
          margin-top:5px;
          color:$primary;
        }
        .price{
          background-color:lighten($primary, 20);
          color:white;
          border-radius:10px;
          width: max-content;
          height: max-content;
          margin:auto;
          margin-top:auto;
          margin-bottom:15px;
          padding:5px;
          padding-left:25px;
          padding-right:25px;
          font-weight: bolder;
          transition:0.5s;
          flex-flow:row;
          display:flex;
          .price-text{
            
          }
          .unit-text{
            
          }
        }
      }
    }
  }
  .category-list{
    width:calc(100% - 10px);
    padding:5px;
    display:flex;
    flex-flow: row wrap;
    .item{
      width: calc(25% - 10px);
      height: calc(250px - 10px);
      margin:5px;
      -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.3);
      transition: 0.5s;

      &:hover{
        -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.7);
        box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.7);
        cursor:pointer;
        transition: 0.5s;
        hr{
          width: 90%;
          transition: 0.5s;
          border-top:2px solid $info;
          transition-timing-function: ease-in-out;
        }

        .name{
          .name-text{
            color:$info;
            transition: 0.5s;
          }
        }

      }
     
      hr{
        margin: 0px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-top:2px solid $primary;
        transition: 0.5s;
      }

      .image{
        width: calc(100%);
        height: calc(80% - 0px);
        display: flex;
        //border-bottom:5px solid $info;
        img{
          display: block;
          max-width: calc(100% - 20px);
          max-height: calc(100% - 20px);
          margin: auto;
          padding: 10px;
          //padding: 10px;
        }
      }
  
      .name{
        display: block;
        width: calc(100% - 20px);
        height: calc(20% - 20px);
        padding:10px;
        text-align: center;
        color:$primary;
        .name-text{
          font-weight: normal;
          margin:0px;
          height: 100%;
          transition: 0.5s;
          
        }
        
      }
    }
  }
  .w-50{width: 50% !important;}
  .h-50{height:50% !important;}
  .w-33{width:33.3334% !important;}
  .h-33{height:33.3334% !important;}
  .w-25{width:25% !important;}
  .c-25{height:25% !important;}

  .lateral-panel{
    position: relative;
    width:20%;
    min-height:100vh;
    background-color:$primary;
    border-bottom:1px solid $info;
   // -webkit-box-shadow: 4px 2px 8px -1px rgba(0,0,0,0.12);
   // -moz-box-shadow: 4px 2px 8px -1px rgba(0,0,0,0.12);
   // box-shadow: 4px 2px 8px -1px rgba(0,0,0,0.12);

  .list-header{
    width: 90%;
    margin: auto;
    //border-radius: 10px;
    //background-color: darken($info,10);
    text-align: center;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px solid darken($info,10);
    border-top:1px solid darken($info,10);
    margin-bottom:35px;
    .list-header-text{
      //text-align: center;
      font-weight: initial;
      padding: 0px;
      margin:0px;
    }
    
  }
    .list-item{
      width: 90%;
      margin: auto;
      padding: 3px;
      //border-radius: 10px;
      background-color: darken($info,10);
      margin-top: 10px;
      text-align: center;
      color:white;
      padding:5px;
      padding-bottom: 10px;
      //border-bottom: 1px solid $info;

      
      


      &:hover{
        background-color: $info;
        cursor:pointer;
        transition:0.3s;
        animation-timing-function: ease-in-out;
      }
    }
  }

  .admin-ui{

    .admin-panel-button{
      position: fixed;
      bottom:0px;
      right:30px;
      color:white;
      padding:10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: darken($light-gray,10);
      -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);

      &:hover{
        cursor: pointer;
        background-color: $info;
      }
    }

    .admin-panel{
      position: fixed;
      right:50px;
      top:100px;

      .admin-option{
        margin-top:20px;
        position: relative;
        width:20px;
        height:20px;
        border-radius: 50px;
        padding: 10px;
        

        .icon{
          text-align: center;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 40px;
        }
        .option-name{
          width: 0px;
          background-color: rgba(0,0,0,0);
          color:rgba(0,0,0,0);
          position: absolute;
          right:0px;
          top: 0px;
          z-index:-1;
          padding: 11px;
          padding-right:50px;
          padding-left:20px;
          border-radius:50px;

        }

        .content{
          
          position: fixed;
          width: 80vw;
          height:80vh;
          background-color: white;
          border-radius: 5px;
          top:10vh;
          left:10vw;
          padding:10px;

          
          -webkit-box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.1);
          -moz-box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.1);
          box-shadow: -4px 3px 17px 2px rgba(0,0,0,0.1);
          display: none;

          div{
            width:100%;
            height:100%;
            cursor: default;
            display:flex;
          }

          & .submenu-content{
              width:80%;
              height:100%;
              display: block;

              
              .select-images-button{
                width: 100%;
                background-color: $confirm;
                height: 10%;
                font-size:1.5em;
                
                &:hover{
                  background-color: darken($confirm,10);
                  cursor:pointer;
                }

                p{
                  margin: auto;
                  color:white;
                }
              }

              .search-image{
                width: 100%;
                height: 10%;
                input{
                  width: 100%;
                  
                }
              }

              //images
              .content-head{
                width :calc(100% - 2px);
                height:calc(20% - 2px);
                border:1px solid darken($light-gray,10);
                .upload-button{
                  width : 20%;
                  height: 100%;
                  background-color: $info;
                  display:none;


                  &.open{
                    display: block;
                  }

                  span{
                    margin:auto;
                    color:white;
                    text-align: center;
                    display: block;
                    //line-height: 200px;
                    margin-top: 20%;
                    //margin-bottom: 25%;
                  }

                  &:hover{
                    background-color: darken($info,15);
                    cursor:pointer;
                  }

                }

                .file-dropbox{
                  cursor: pointer;
                  height: calc(100% - 8px);
                  width: calc(100% - 8px);
                  border:4px dashed $light-gray;
                  background-color: lighten($light-gray,15);

                  p{
                    margin: auto;
                    color:darken($light-gray,30);
                  }

                  &.drag-active{
                    border:4px dashed $info;
                    background-color: white;

                    p{
                      color:$info;
                    }
                  }

                  &:hover{
                    border:4px dashed $info;
                    background-color: white;
                    p{
                      color:$info;
                    }
                  }
                }  
              }
              .gallery-container{
                display: block;
                height:calc(80% - 2px);
                width:calc(100% - 2px);
                border:1px solid $light-gray;
                overflow-y: auto;

                .gallery-item{
                  width: calc(33.3333334% - 1px);
                  height: 50%;
                  border-right:1px solid $light-gray;
                  display:inline-block;
                  position: relative;

                  &:hover{
                    
                    .image-select-index{
                      background-color: darken($info,20);
                      transition: 0.2s;  
                    }

                    .deselect-overlay{
                      cursor: pointer;
                      background-color: rgba(210,210,210,0.3);
                      transition: 0.2s;  
                      transition-timing-function: ease-in;
                    }
                  }

                  .deselect-overlay{
                    position: absolute;
                    width : 100%;
                    height: 100%;
                    background-color: rgba(180,180,180,0.0);
                  }
                  .image-select-index{
                    position: absolute;
                    width:30px;
                    height:30px;
                    border-radius:100%;
                    color:white;
                    background-color: $info;
                    border-radius:100%;
                    right:10px;
                    top:10px;
                    display:flex;
                    span{
                      margin:auto;
                    }
                  }
                  
                  .remove{
                    position: absolute;
                    top:5px;
                    right:5px;
                    width:25px;
                    height:25px;
                    border-radius:100%;
                    text-align: center;
                    border:none;
                    background-color: $light-gray;
                    color:white;

                    &:hover{
                      background-color: $info;
                      cursor: pointer;
                    }
                }
                
                .select-box{
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: calc(100% - 12px);
                  height:calc(100% - 12px);
                  border:6px solid darken($info,10);
                }

                .image{
                  height: 80%;
                  img{
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                  }

                }

                .name-input{
                  height:calc(20% - 1px);
                  width: 100%;
                  input{
                    width: calc(80% - 14px);
                    height:calc(100% - 8px);
                    padding:3px;
                    padding-left:10px;
                    padding-right:4px;
                    margin:auto;
                    border-radius:0px;
                    border:1px solid $light-gray;

                    &:disabled{
                      background-color: white;
                      color:black;
                    }
                  }
                  .extension{
                    background-color: $primary;
                    color:white;
                    width:20%;
                    span{
                      margin: auto;
                    }
                  }
                  
                }
              }
              }
              ///----

              //gallery
              .gallery{
                display:block;
              }

              //category
              .category-content-container{
                .category-form{
                  width:30%;
                  height:100%;
                  form{
                    width: calc(100% - 12px);
                    height:calc(100% - 12px);
                    padding:5px;
                    border:1px solid $light-gray;
  
                    .form-input{
                      width: 100%;
                      height: 10%;
                      display: block;
                      margin-top: 15px;
                      text-align: center;
  
                      label{
                        margin-bottom:5px;
                        display: block;
                      }
  
                      .text-input{
                        width:calc(100% - 20px);
                        padding:2px;
                      }
                      .button-input{
                        width:100%;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        background-color: $info;
                        color:white;
                        display: block;
                        &:hover{
                          cursor:pointer;
                          background-color: darken($info,10);
                          
                        }
                      }
  
                      select{
                        display: block;
                        width:100%;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        
                      }
  
                    }
                  }
                }
  
                .category-preview{
                  width:70%;
                  height:100%;
                  
                  .category-item{
                   // width: 50%;
                   // height: 50%;
                    display: block;
                    margin: auto;
                    -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
                    .image{
                      width: calc(100%);
                      height: calc(80% - 1px);
                      //display: block;
                      border-bottom:1px solid $light-gray;
                      
                      img{
                        display: block;

                        max-width: calc(100% - 20px);

                        max-height: calc(100% - 20px);

                        margin: auto;

                        padding: 10px;
                        //padding: 10px;
                      }
                    }

                    .name{
                      display: block;
                      width: calc(100% - 20px);
                      height: calc(20% - 20px);
                      padding:10px;
                      text-align: center;
                      .name-text{
                        font-weight: normal;
                        margin:0px;
                      }
                      
                    }
                  }
                }
              }

              //de bagat intr-un parent
              //product
              .product-content-container{
                .product-form{
                  width:40%;
                  border-right: 1px solid $primary;
                  form{
                    &:first-child{
                      margin-top: 0px;
                    }
                  }
                  
                  .form-input{
                    height: max-content !important;
                    margin-top:20px;
                    flex-flow:column;
                    select{
                      height: max-content !important;
                    }
                  }

                  .form-input.checkbox{
                    display:flex;
                    flex-flow: row;
                    label{width: 50%;}
                    input{width:50%;}

                  }
                  .form-input.text{
                    margin-top:20px;
                    position: relative;
                    height: max-content !important;
                    
                    .label{
                      position: absolute;
                      top: -1.1rem;
                      font-size: 0.9375rem;
                      line-height: 147.6%;
                      color: $primary;
                      transition: top .2s;
                      
                    }
                    input{
                      border: none;
                      border-bottom: 0.125rem solid $primary;
                      width: 90%;
                      height: 2rem;
                      font-size: 1.0625rem;
                      line-height: 147.6%;
                      padding: 0px;
                      font-weight: initial;

                      &:focus{
                        outline: none !important;
                        box-shadow:none;
                      }
                      
                      &:invalid{
                        box-shadow:none;
                      }

                      &:focus+.label{
                        top: -1.1rem;
                        font-size: 0.9375rem;
                        margin-bottom: 32px;
                        transition: top .2s;
                      }

                      &:valid+.label{
                        top: -1.1rem;
                        font-size: 0.9375rem;
                        margin-bottom: 32px;
                        transition: top .2s;
                      }

                      &:valid{
                        color:$confirm;
                        border-bottom: 2px solid $confirm;
                      }
                    }

                  }
                }
                width:100%;
                .product-preview-container{
                  
                  .product-gallery-preview{
                    
                    height:66%;
                    width:50%;
                    margin:auto;
                    .carousel-container{
                      width:calc(100% - 20px);
                      height:calc(100% - 20px);
                      padding:10px;
                      margin:auto;
                    }
                  }
                }

                .product-preview{
                  height: calc(66% - 20px);
                  width:calc(50% - 20px);
                  margin:auto;
                  display: flex;
                  flex-flow:column;
                  -webkit-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
                  -moz-box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);
                  box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.3);

                  &:hover{
                      
                    .image{
                      cursor:pointer !important;
                    }
                    .details{
                      cursor:pointer !important;
                      hr{
                        left: 5%;
                        right: 5%;
                        width:90%;
                        transition: 0.5s;
                        border-top:2px solid lighten($primary,20);
                      }
  
                      .price{
                        background-color:lighten($primary, 25);
                        padding-left:10px;
                        padding-right:10px;
                        transition:0.2s;
                        cursor:pointer !important;
                      }
                    }
                    
                    
                  }
                  
                  .image{
                    width: calc(100%);
                    height: calc(66%);
                    //display: block;
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */
                    
                    img{
                      display: block;
                      max-width: calc(100% - 20px);
                      max-height: calc(100% - 20px);
                      margin: auto;
                      padding: 10px;
                    }
                  }

                  

                  .details{
                    position:relative;
                    width: calc(100% - 10px);
                    height: calc(33% - 10px);
                    padding:5px;
                    text-align: center;
                    flex-flow: column;
                    display: flex;

                    h1,h2,h3,h4,h5,h6{
                      padding:0px;
                      margin:0px;
                    }

                    

                    hr{
                      position: absolute;
                      top: 0px;
                      left: 25%;
                      right: 25%;
                      width:50%;
                      border-top:2px solid $primary;
                      margin: auto;
                      transition: 0.5s;
                    }
                    
                    .code-text{
                      margin-top:10px;
                      color:$primary;
                    }
                    .name-text{
                      margin-top:5px;
                      color:$primary;
                    }
                    .price{
                      background-color:lighten($primary, 20);
                      color:white;
                      border-radius:10px;
                      width: max-content;
                      height: max-content;
                      margin:auto;
                      margin-top:10px;
                      padding:5px;
                      padding-left:25px;
                      padding-right:25px;
                      font-weight: bolder;
                      transition:0.5s;
                      .price-text{
                        
                      }
                      .unit-text{
                        
                      }
                    }
                    

                  }
                }

              }

              

          }

          

          & .submenu{
            width:20%;
            height:100%;
            display: block;
            .submenu-option{
              margin-left:auto;
              margin-right: auto;
              margin-top:15px;
              display: block;
              width:80%;
              height: max-content;
              text-align:center;
              padding:3px 6px 3px 6px;
              border-radius: 10px;
              background-color: darken($light-gray,15);
              color:white;

              &.active{
                background-color: darken($info,10);
              }

              &:hover{
                cursor:pointer;
                background-color: $info;
              }
              
            }
          }
        }

        .connection{
          width: 100px;
          height: 45px;
          background-color: white;
          position: absolute;
          right: -4px;
          top: -2px;
          z-index: -1;
          border-radius: 50px;
          -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2);
          display:none;
        }

        .connection-triangle{
          position: absolute;
          width: 0px;
          height: 0px;
          right: 40px;
          top: -40px;
          z-index: -1;
          border-left: 60px solid white;
          border-top: 60px solid transparent;
          border-bottom: 60px solid transparent;  
          display:none;
        }
          
        
      }

      &.closed{
        
        .admin-option{
          //color:rgba(87, 81, 81, 0);
          color:rgba(0,0,0,0);
          background-color: rgba(0,0,0,0);
          right: -30px;
          transition: 0.5s;

          .content{
            display: none;
          }

        }
        
      }

      &.open{
        
        .admin-option{
          color:rgba(255,255,255,1);
          background-color: darken($light-gray,10);
          right:0px;
          transition: 0.5s;
          -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);

          
          .content.open{
            display: block;
            color:black;
          }

          .connection.open{
            display: block;
            transition: 0.5s;
          }

          .connection-triangle.open{
            display:block;
            transition: 0.5s;
          }

          &.open{
            background-color: $info;
            transition: 0.5s;
          }

          &:hover{
            cursor: pointer;
            background-color: $info;
            transition: 0.5s;

            .option-name{
              color:rgba(255,255,255,1);
              width: max-content;
              background-color: $info;
              transition: 0.5s;
              transition-timing-function: ease-out;
            }
          }

          &:active{
            .option-name{
              display: none;
            }
          }

        }
        
      }

      
    }
  }
  


  .md-down-show{display: none;}
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */
  //.md-down-show{display: hidden;}
  .admin-ui{
    display:none;
  }
  .header{
    height: $header-height;
    background-color: $primary;
  }
  .lateral-panel{
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    &.open{
      width: 250px;
      transition-timing-function: ease-out;
      
    
    }
    &.closed{
      width: 0px;
      transition-timing-function: ease-out;
      display:none;
      
      
      
    }
   /* &:hover{
      animation-name: showlateral;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
    */
    min-height:100vh;
    background-color: $secondary;
  }
}
  
@media screen and (max-width: 767px) {
  
/* start of medium tablet styles */
  
}
  
@media screen and (max-width: 479px) {
  
/* start of phone styles */
  
}