//colors.scss

/*
$primary: #303030;
$secondary: #318FB4;
$info:rgb(247, 126, 71);
$warning:#1B4B5A;
$dark-gray:#000;
$medium-gray:#777;
$light-gray:#ccc;
*/



/*
$primary: #303030;
$secondary: #318FB4;
$info:#D8EF82;
$warning:#1B4B5A;
$dark-gray:#000;
$medium-gray:#777;
$light-gray:#ccc;
*/

/*
$primary: #231D43;
$secondary: #318FB4;
$info:#619BD0;
$warning:#1B4B5A;
$dark-gray:#000;
$medium-gray:#777;
$light-gray:#ccc;

*/

$primary: #231D43;
$secondary: #318FB4;
$info:rgb(247, 126, 71);
$warning:#1FD160;
$dark-gray:#000;
$medium-gray:#777;
$light-gray:#ccc;

